<!doctype html>
<html lang="en">
<head>
    <title>{{ app.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&copy; 2025 Webis">
    <link rel="icon" type="image/png" href="https://assets.webis.de/img/favicon.png">

    <link rel="stylesheet" href="https://assets.webis.de/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/metarag.css') }}">
</head>
<body class="uk-offcanvas-content">
<script src="https://assets.webis.de/js/thirdparty/uikit/uikit.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/uikit/uikit-icons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown@2.0.3/dist/showdown.min.js"></script>
<script src="{{ url_for('static', path='js/metarag.js') }}"></script>


<div class="uk-background-secondary global-nav" data-uk-sticky>
    <nav class="uk-navbar-container uk-navbar-transparent uk-container uk-light" data-uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="https://webis.de"><img src="https://assets.webis.de/img/webis-logo.png" alt="Webis Logo" class="uk-logo"> Webis.de</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<template id="chat-templates">
    <div class="chat-box user-box uk-margin-bottom">
        <div class="utterance-box uk-background-muted">
            <p class="uk-text-large utterance">Hi</p>
        </div>
    </div>

    <div class="chat-box system-box uk-margin-bottom">
        <div class="utterance-box">
            <p class="uk-text-large utterance">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</template>

<div class="uk-container uk-margin-top" >
    <header>
        <h1 class="uk-heading uk-text-left">{{ app.title }} <span class="uk-badge">{{ app.version }}</span> <span class="uk-text-default uk-text-light uk-margin-left">Let RAG be explained by a RAG system...</span></h1>
    </header>

    <div id="chat-window" class="uk-margin-bottom uk-width-1-1 uk-panel-scrollable" data-uk-height-viewport="expand: true" data-uk-resize="off">

    </div>


    <form id="user-input-form" class="uk-search uk-search-medium uk-width=1-1 uk-margin-bottom" aria-label="Search">
        <input id="user-input" class="uk-search-input" type="text" aria-label="" placeholder="Enter your message..." autocomplete="off" autofocus>
        <button class="uk-search-icon" data-uk-search-icon></button>
    </form>
</div>

<footer class="uk-section uk-section-muted footer-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-small uk-margin-top">
            <div class="uk-width-1-5@s">
              <!-- links specific to a service -->
            </div>
            <div class="uk-width-expand uk-visible@s"></div>
            <div>
              &copy; 2025 <a href="https://webis.de">Webis Group</a> <span class="uk-padding-small">&bullet;</span>
              <a href="https://github.com/webis-de"><span data-uk-icon="icon: github; ratio:0.8"></span></a>
              <a href="https://x.com/webis_de"><span data-uk-icon="icon: x; ratio:0.9"></span></a>
              <a href="https://www.youtube.com/webis"><span data-uk-icon="icon: youtube; ratio:0.9"></span></a> <span class="uk-padding-small">&bullet;</span>
              <a href="https://webis.de/people.html">Contact</a> <span class="uk-padding-small">&bullet;</span>
              <a href="https://webis.de/legal.html">Impressum / Terms / Privacy</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>